@font-face {
    font-family: 'SimHei';
    font-style: normal;
    font-display: swap;
    src: url('https://raw.githubusercontent.com/incredibleray/fonts/main/simhei.ttf') format('truetype');
    unicode-range: U+4E00-9FFF;
  }
