@font-face {
    font-family: 'Kaiti';
    font-style: normal;
    font-display: swap;
    font-weight: "bold";
    src: url('https://github.com/incredibleray/fonts/raw/main/Kaiti.ttf') format('truetype');
    unicode-range: U+4E00-9FFF;
  }
