@font-face {
    font-family: 'Kaiti';
    font-style: normal;
    font-display: swap;
    font-weight: "600";
    src: url('https://raw.githubusercontent.com/incredibleray/fonts/main/Kaiti.ttf') format('truetype');
    unicode-range: U+4E00-9FFF;
  }
