@font-face {
    font-family: 'Old English Text MT';
    font-style: normal;
    font-display: swap;
    font-weight: "bold";
    src: url('https://github.com/incredibleray/fonts/raw/main/OLDENGL.TTF') format('truetype');
    unicode-range: U+0020-007F;
  }
